.f-nav {
  flex-basis: 22em;
  margin-right: auto;

  display: flex;
}

.f-nav-block {
  flex-grow: 1;
}

.f-nav-header {
  color: white;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.7em;
}

.f-nav-list {
  padding: 0;
  margin: 0;
}

.f-nav-li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0.07em;
}

.f-nav-link {
  display: block;
  color: #bbbbbb;
  text-decoration: none;
  font-size: 0.7em;
}