.about-us {
  padding: 3.8em 0;
}

.about-us-services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.9em;
  padding: 0 8%;
  justify-content: space-between;
}




/*
  mediaqueries
*/
@media(min-width: 1400px) {
  .service {
    font-size: 1.2em;
  }
}



@media(max-width: 1130px) {
  .about-us-services {
    padding: 0 2%;
  }
}



@media(max-width: 1020px) {
  .about-us-services {
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
  }

  .service {
    max-width: 18em !important;
    margin-bottom: 3em;
  }

  .service:last-of-type {
    margin-bottom: 0;
  }
}



@media(max-width: 500px) {
  .about-us {
    padding: 2em 0;
  }

  .service {
    font-size: 0.9em;
  }
}